
<h1>Create A New Fish</h1>
<form action="/fish/" method="post">
  <div id="reg_container">
    <p class="border_label">Information</p>
    <div class="notice">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <table>
      <tr>
        <td><label for="username">Name</label></td>
        <td><input name="name" id="username" type="text"></td>
      </tr>
      <tr>
        <td><label for="password">Wikipedia URL </label></td>
        <td><input name="wiki" id="password" type="text"></td>
      </tr>
    </table>
  </div>
  <button class="login" type="submit">Create</button>
</form>