
<h1>Register for fish.ly!</h1>
<form action="/register/" method="post">
  <div id="reg_container">
    <p class="border_label">Information</p>
    <div class="notice">
      <% if flash[:login_fail] %>
        <%= flash[:login_fail] %>
      <% end %>
    </div>
    <table>
      <tr>
        <td><label for="username">Username </label></td>
        <td><input name="username" id="username" type="text"></td>
      </tr>
      <tr>
        <td><label for="password">Password </label></td>
        <td><input name="password" id="password" type="text"></td>
      </tr>
    </table>
  </div>
  <button class="login" type="submit">Register</button>
</form>