<section class="clearfix">
  <article class="full_column">
    <% if flash[:login_fail] %>
      <%= flash[:login_fail] %>
    <% end %>
    <h2>Register as a new user:</h2>
    <form action="/register/" method="post">
      <label for="username">Username:</label><br>
      <input name="username" id="username" type="text"><br>
      <label for="password">Password:</label><br>
      <input name="password" id="password" type="text"><br>
      <button type="submit">Submit</button>
    </form>
  </article>
</section>