<% if !session[:user_id] %>

<% if flash[:register_notice] %>
  <%= flash[:register_notice] %>
<% end %>

<a href="/register/">Register</a><br>

<form action="/login/" method="post">
  <label for="username">Username:</label><br>
  <input name="username" id="username" type="text"><br>
  <label for="password">Password:</label><br>
  <input name="password" id="password" type="text"><br>
  <button type="submit">Log In</button>
</form>

<% else %>

<p>Welcome, <%= username %></p>

<form action="/" method="get">
  <button type="submit" name="sort">Sort</button>
</form>

<ul style="list-style-type: none">
<% user_arr.each do |str| %>
  <li><%= str %></li>
<% end %>
</ul>

<a href="/logout/">Logout</a>

<% end %>